# Backend
backend/node_modules/
backend/masterlink.db
backend/masterlink.db-shm
backend/masterlink.db-wal
backend/.env

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/.env

# OS
.DS_Store
*.log
